.bg-img-container {
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f7f7f7
}
.detail-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-container {
    width:6vw;
    padding-left: 10vw;
    overflow: hidden;
    max-height: 100vh;
}
.right-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: first baseline;
}

h1 {
    padding: 20px 0;
}

p {
    padding: 8px 0;
    font-size: 14px;
    font-weight: 700;
}

.mat-grid-tile img {
    max-width: 14vw;
    object-fit: cover;
    margin-left: 3vw;
}

mat-divider {
    padding: 6px 0;
}

.icon-group {
    display: flex;
    width: 60%;
    padding: 16px 0;
}

fa-icon {
    width: 24px;
    height: 24px;
    padding: 8px;
}

mat-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    font-weight: 400;
}

mat-tab-group{
    margin: 8px 0;
    width: 70%;
    min-height: 16vh;
}
.item-wrapper {
    width: 80%;
    margin: 10%; 
    display: flex;
    justify-content: flex-start;
}
.item {
    flex: 0 1 25%;
    box-sizing: border-box;
    padding-bottom: 6vh;
  }
  
  .item + div {
    width: 100%;
  }
  
  .img-wrapper {
    background-size: 42vw auto;
    background-repeat: no-repeat;
    background-position: -7vw;
    width: 80%;
    height: 40vh;
    max-width: 14vw;
    object-fit: cover;
  }