<div class="loading-mask" *ngIf="loading">
  <mat-spinner class="loading"></mat-spinner>
</div>
<div class="accountInfo-container">
  <form [formGroup]="accountForm" (ngSubmit)="updateUserInfo()" >
    <div class="acc-container">
      <div class="acc-wrapper">
        <div class="tab">
          <button (click)="setTabName('dashboard')" [id]="tabName" [disabled]="accountForm.invalid">Dashboard</button>
          <button (click)="setTabName('account')" [id]="tabName" [disabled]="accountForm.invalid">Account</button>
          <button (click)="setTabName('addressbook')" [id]="tabName" [disabled]="accountForm.invalid">Address Book</button>
          <button (click)="setTabName('orders')" [id]="tabName" [disabled]="accountForm.invalid">My Orders</button>
        </div>

        <div class="tabcontent" [ngSwitch]="tabName">

          <ng-container *ngSwitchCase="'dashboard'">
            <div class="contact-box">
              <div class="content">
                  <p class="myaccount_user">
                      Hello <strong>{{user}}</strong> (not {{user}}? <button mat-raised-button
                          (click)="signOut()">Sign
                          out</button> ). From your account dashboard you can view your recent orders, manage your
                      shipping address and edit your password and account details.</p>
                <!-- <mat-form-field>
                  <input matInput placeholder="Email" required formControlName="email">
                </mat-form-field> -->
                <p><span>Email: </span>{{email}}</p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'account'">
            <div class="acct">
              <h1 style="margin-bottom: 20px; font-weight: lighter; color: #3e3f40">Account</h1>
              <div>
                  <mat-form-field>
                      <input matInput placeholder="firstName" required formControlName="firstName">
                      <mat-error *ngIf="!accountForm.firstName?.valid">First Name is Required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="lastName" required formControlName="lastName">
                      <mat-error *ngIf="!accountForm.lastName?.valid">Last Name is Required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="phone" required formControlName="phone">
                      <mat-error *ngIf="!accountForm.phone?.valid">Cell Phone Number is Required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker1" placeholder="Birth Day" required formControlName="bod">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="!accountForm.bod?.valid">Birth Day is Required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput type="password" placeholder="Password" required formControlName="password">
                      <mat-error *ngIf="!accountForm.password?.valid">Please input password</mat-error>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit" [disabled]="accountForm.invalid">Update</button>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'addressbook'">
            <div class="acct">
              <div class="contact-box" style="margin-bottom: 0">
                <h2>Address Book</h2>
                <div class="content" style="display: flex">
                  <div>
                      <mat-form-field>
                          <input matInput placeholder="country" required formControlName="country">
                          <mat-error *ngIf="!accountForm.country?.valid">Country is Required</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="address" required formControlName="address">
                          <mat-error *ngIf="!accountForm.address?.valid">Address is Required</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="city" required formControlName="city">
                          <mat-error *ngIf="!accountForm.city?.valid">City is Required</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                          <mat-label>State</mat-label>
                          <mat-select required formControlName="state">
                              <mat-option disabled> None </mat-option>
                              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                  {{state.name}}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="!accountForm.state?.valid">Please choose a state</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="zip" required formControlName="zip">
                          <mat-error *ngIf="!accountForm.zip?.valid">Zip code is Required</mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="accountForm.invalid">Update</button>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'orders'">
            <div class="contact-box" style="background-color: white">
              <div class="content">
                <h1 style="font-weight: lighter; margin-bottom: 20px; color: #3e3f40">My Orders</h1>
                <app-order-history></app-order-history>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </form>
</div>