<mat-accordion>
  <mat-expansion-panel *ngFor="let order of orderList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order date: {{order.date |  date:"M/d/yy, h:mm a"}}
      </mat-panel-title>
      <mat-panel-description>
        Totle: ${{order.price}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-table [dataSource]="order.orders">
      <ng-container matColumnDef="img">
        <mat-header-cell *matHeaderCellDef>
          PRODUCT
        </mat-header-cell>
        <mat-cell *matCellDef="let order; let idx=index">
          <img style="width: 100%" src="../../assets/{{order.img}}" class="attachment-shop_catalog wp-post-image"
            [alt]="order.img" (click)="detail(order.name)">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          NAME
        </mat-header-cell>
        <mat-cell *matCellDef="let order; let idx=index">
          {{order.name}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>
          PRICE
        </mat-header-cell>
        <mat-cell *matCellDef="let order; let idx=index">
          {{order.price}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef>
          COLOR
        </mat-header-cell>
        <mat-cell *matCellDef="let order; let idx=index">
          {{order.color}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef>
          SIZE
        </mat-header-cell>
        <mat-cell *matCellDef="let order; let idx=index">
          {{order.size}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="!orderList">
  You haven't placed any orders yet.
</p>