<h1 mat-dialog-title>Shopping Cart</h1>
<div mat-dialog-content >
  <mat-table [dataSource]="dataSource" *ngIf="dataSource; else alterInfo">
    <ng-container matColumnDef="img">
      <mat-header-cell *matHeaderCellDef>
        PRODUCT
      </mat-header-cell>
      <mat-cell *matCellDef="let order; let idx=index"> 
          <img style="width: 100%" src="../../assets/{{order.img}}" class="attachment-shop_catalog wp-post-image"
            [alt]="order.img" (click)="detail(order.id)">
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        NAME
      </mat-header-cell>
      <mat-cell *matCellDef="let order; let idx=index"> 
        {{order.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>
        PRICE
      </mat-header-cell>
      <mat-cell *matCellDef="let order; let idx=index"> 
        {{order.price}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef>
        COLOR
      </mat-header-cell>
      <mat-cell *matCellDef="let order; let idx=index"> 
        {{order.color}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef>
        SIZE
      </mat-header-cell>
      <mat-cell *matCellDef="let order; let idx=index"> 
        {{order.size}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>
        DELETE
      </mat-header-cell>
      <mat-cell *matCellDef="let order; let idx = index"> 
        <button mat-icon-button color="warn" (click)="removeOne(idx)">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="button-wrapper" *ngIf="dataSource">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-form-field>
          <span matPrefix>SUBTOTAL： &nbsp;USD $</span>
          <input matInput [value]="getSubTotle()" disabled>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-form-field>
          <span matPrefix>SHIPPING: &nbsp;USD $</span>
          <input matInput value="10.50" disabled>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-form-field>
          <span matPrefix>TOTAL: &nbsp;USD $</span>
          <input matInput [value]="getTotle()" disabled>
        </mat-form-field>
      </mat-list-item>
    </mat-list>

  </div>
  <ng-template #alterInfo>
    <div class="table-container alterInfo">Shopping cart is currently empty</div>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No Thanks</button>
  <button mat-raised-button color="primary" (click)="checkOut()" [disabled]="!dataSource || dataSource.length == 0">Proceed to Checkout</button>
</div>